<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Libations</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/flatly/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'drinkRecs/css/style.css' %}">
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-mtS696VnV9qeIoC8w/PrPoRzJ5gwydRVn0oQ9b+RJOPxE1Z1jXuuJcyeNxvNZhdx" crossorigin="anonymous"> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
      $(document).ready(function(){
          $("#validated-option").hide()
          $("#validate-text").hide();
          $("#add").hide();
          $("#add-btn").hide();
           $("#remove-option").hide()
           $('#resizable').height({{user.margin_available.amount}}/factor)
           $('#update-form').hide()
           $('#margin-req-amnt').height({{portfolio.margin}}/factor);
           $('#buffer-num').text({{user.margin_available.amount}} - {{portfolio.margin}} - {{portfolio.liability}});
           $('#options-liability').height({{portfolio.liability}}/factor);
           $('#buffer').height(({{user.margin_available.amount}} - {{portfolio.margin}} - {{portfolio.liability}})/factor);
      });
  </script>
  
</head>
<body>
    <div class="container-fluid">
        <div id="header">
                
            <img src="{% static 'drinkRecs/img/cocktail-logo.png' %}">
            <div class="heading-text"><h2 class="display-3">Libations... </h2> <div class="heading"><h3 >Cocktails crafted just for you</h3></div></div>

        </div>
            

        <div id="main" class="main">
            <div class="row">
                <div class="col-sm" id="ingredients">
                    <h3>Drink Ingredients:</h3>
                        
                        <form action="/find_cocktail" method="POST">
                        {% csrf_token %}
                        <div class="primary"><h4>Main ingredient:</h4>
                            <br>
                            <select name="primary">
                            {%for ingredient in ingredients%}
                            <option value={{ingredient}}>{{ingredient}}</option>
                            {%endfor%}
                        </select>
                    </div>
                        <div class="other">
                            <h4>Other ingredient (optional):</h4>
                            <br>

                        <select id="other" name="other">
                            {%for ingredient in ingredients%}
                            <option value={{ingredient}}>{{ingredient}}</option>
                            {%endfor%}
                        </select>
                    </div>
                        <input type="submit" class="btn btn-secondary" value="Find Cocktail">
                    </form>
                          
                    </div>
                <div class="col-sm" id="recipes">
                    <h3>Recommendations:</h3>
                    {%for drink in drinks%}
                    <div class="drink">
                            <a href="/cocktail/{{drink.idDrink}}"><img class="drink-pic" src="{{drink.strDrinkThumb}}" ></a><a href="/cocktail/{{drink.idDrink}}"><p id="onhover">{{drink.strDrink}}</p></a>
                    </div>
                    {%endfor%}
            
                </div>
            </div>
        </div>
    <script>
        
        $('.primary option[value={{primary}}]').attr("selected","selected");
        $('.other option[value={{other}}]').attr("selected","selected");

    
    </script>
</body>
</html>
